#---
BasedOnStyle: Mozilla
IndentWidth: 3
AlignEscapedNewlines: Left
BreakBeforeBraces: Custom
BraceWrapping:
    AfterEnum:              true
    AfterStruct:            false
    SplitEmptyFunction:     false
    AfterClass:             false
    AfterControlStatement:  true
    AfterEnum:              false
    AfterFunction:          false
    AfterNamespace:         false
    AfterStruct:            false
    BeforeCatch:            false
    BeforeElse:             false
    IndentBraces:           false
    SplitEmptyFunction:     false
    SplitEmptyNamespace:    true
#---